<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link
      rel="stylesheet"
      href="../lib/fontawesome-free-6.5.0-web/css/all.min.css"
    />
    <link rel="shortcut icon" href="../img/logo.png" />
    <title>World Pizza</title>
  </head>
  <body>

    <div id="btn-top">
      <span class="fas fa-angle-up"></span>
    </div>

    <div class="menu-ppal">
      <div class="logo" id="logo">
        <img src="../img/logo.png" alt="logo-world-pizza" />
      </div>
      <div class="menu-bar" id="menuBar">
        <i class="fas fa-angle-right" id="btnMenuClose"></i>

        <nav class="enlaces" id="enlaces">
          <ul>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#equipo">Equipo</a></li>
            <li><a href="#contacto">Contacto</a></li>
          </ul>
        </nav>
        <div class="sociales">
          <a href="#"><span class="fab fa-facebook"></span></a>
          <a href="#"><span class="fab fa-instagram"></span></a>
          <a href="#"><span class="fab fa-twitter"></span></a>
          <a href="#"><span class="fab fa-youtube"></span></a>
        </div>
      </div>
      <i class="fas fa-bars" id="btnMenuOpen"></i>
    </div>

    <section id="menu-productos">
      <div class="contenedor-ppal">
        <button id="btn-left"><span class="fas fa-angle-left"></span></button>
        <div class="slider">
          <div class="containter-productos">
            <div class="descripcion-productos">
              <h2>Producto <b>premium</b></h2>
              <h1>Peperonni</h1>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Aspernatur quis ea fugit aperiam, sit quasi, maiores nostrum
                animi autem necessitatibus eos! Incidunt, hic! Adipisci, commodi
                aliquam eveniet sint nesciunt corrupti?
              </p>

              <button class="btn">
                ¡Solicitala aquí! <span class="fas fa-angle-right"></span>
              </button>
            </div>
            <div class="imagen-productos">
              <img src="../img/menu/margarita.png" alt="" />
            </div>
          </div>
          <div class="containter-productos">
            <div class="descripcion-productos">
              <h2>Producto <b>premium</b></h2>
              <h1>Especial</h1>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Aspernatur quis ea fugit aperiam, sit quasi, maiores nostrum
                animi autem necessitatibus eos! Incidunt, hic! Adipisci, commodi
                aliquam eveniet sint nesciunt corrupti?
              </p>

              <button class="btn">
                ¡Solicitala aquí! <span class="fas fa-angle-right"></span>
              </button>
            </div>
            <div class="imagen-productos">
              <img src="../img/menu/peperoni.png" alt="" />
            </div>
          </div>
          <div class="containter-productos">
            <div class="descripcion-productos">
              <h2>Producto <b>exotico</b></h2>
              <h1>Ananá</h1>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Aspernatur quis ea fugit aperiam, sit quasi, maiores nostrum
                animi autem necessitatibus eos! Incidunt, hic! Adipisci, commodi
                aliquam eveniet sint nesciunt corrupti?
              </p>

              <button class="btn">
                ¡Solicitala aquí! <span class="fas fa-angle-right"></span>
              </button>
            </div>
            <div class="imagen-productos">
              <img src="../img/menu/especial.png" alt="" />
            </div>
          </div>
        </div>
        <button id="btn-right"><span class="fas fa-angle-right"></span></button>
      </div>
    </section>

    <section id="servicios">
      <div class="servicios-titulos">
        <h2 class="subtitulo">La mejor pizza del mundo</h2>
        <h1 class="titulo">Bienvenidos a World Pizza</h1>
      </div>

      <div class="servicios-container">
        <div class="imagen-central">
          <img src="../img/mitad-mitad.png" alt="" />
        </div>
        <div class="items calidad">
          <p><span class="fas fa-pizza-slice"></span></p>
          <p class="titulo-item">Calidad</p>
          <p class="texto-item">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <div class="items ingredientes">
          <p><span class="fas fa-cheese"></span></p>
          <p class="titulo-item">Ingredientes</p>
          <p class="texto-item">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <div class="items rapidez">
          <p><span class="fas fa-clock"></span></p>
          <p class="titulo-item">Rapidez</p>
          <p class="texto-item">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <div class="items delivery">
          <p><span class="fas fa-shipping-fast"></span></p>
          <p class="titulo-item">Delivery</p>
          <p class="texto-item">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </section>

    <section id="equipo">
      <div class="persona">
        <img src="../img//perfil1.png" class="persona-imagen" />
        <div class="persona-info">
          <h2>Persona 1</h2>
          <p>Rol 1</p>
          <div class="social-media">
            <a href=""><span class="fab fa-facebook"></span></a>
            <a href=""><span class="fab fa-instagram"></span></a>
            <a href=""><span class="fab fa-twitter"></span></a>
            <a href=""><span class="fab fa-linkedin"></span></a>
          </div>
        </div>
      </div>

      <div class="persona">
        <img src="../img//perfil2.png" class="persona-imagen" />
        <div class="persona-info">
          <h2>Persona 2</h2>
          <p>Rol 2</p>
          <div class="social-media">
            <a href=""><span class="fab fa-facebook"></span></a>
            <a href=""><span class="fab fa-instagram"></span></a>
            <a href=""><span class="fab fa-twitter"></span></a>
            <a href=""><span class="fab fa-linkedin"></span></a>
          </div>
        </div>
      </div>

      <div class="persona">
        <img src="../img//perfil3.png" class="persona-imagen" />
        <div class="persona-info">
          <h2>Persona 3</h2>
          <p>Rol 3</p>
          <div class="social-media">
            <a href=""><span class="fab fa-facebook"></span></a>
            <a href=""><span class="fab fa-instagram"></span></a>
            <a href=""><span class="fab fa-twitter"></span></a>
            <a href=""><span class="fab fa-linkedin"></span></a>
          </div>
        </div>
      </div>

      <div class="persona">
        <img src="../img//perfil4.png" class="persona-imagen" />
        <div class="persona-info">
          <h2>Persona 4</h2>
          <p>Rol 4</p>
          <div class="social-media">
            <a href=""><span class="fab fa-facebook"></span></a>
            <a href=""><span class="fab fa-instagram"></span></a>
            <a href=""><span class="fab fa-twitter"></span></a>
            <a href=""><span class="fab fa-linkedin"></span></a>
          </div>
        </div>
      </div>
    </section>

    <section id="ingredientes">
      <div class="ingrediente">
        <img src="../img/ingredientes1.jpg" alt="" class="img-ingrediente" />
        <div class="info-ingrediente">
          <p><span class="fas fa-cheese"></span></p>
          <p class="txt-ingrediente">Quesos</p>
        </div>
      </div>

      <div class="ingrediente">
        <img src="../img/ingredientes2.jpg" alt="" class="img-ingrediente" />
        <div class="info-ingrediente">
          <p><span class="fas fa-leaf"></span></p>
          <p class="txt-ingrediente">Vegetales</p>
        </div>
      </div>

      <div class="ingrediente">
        <img src="../img/ingredientes3.jpg" alt="" class="img-ingrediente" />
        <div class="info-ingrediente">
          <p><span class="fas fa-fill-drip"></span></p>
          <p class="txt-ingrediente">Salsas</p>
        </div>
      </div>

      <div class="ingrediente">
        <img src="../img/ingredientes4.jpg" alt="" class="img-ingrediente" />
        <div class="info-ingrediente">
          <p><span class="fas fa-drumstick-bite"></span></p>
          <p class="txt-ingrediente">Carne</p>
        </div>
      </div>
    </section>

    <section id="contacto">
      <div class="titulo-contacto">
        <h2 class="subtitulo">Queremos conocer tu opinion</h2>
        <h1 class="titulo">Contactanos</h1>
      </div>

      <form action="" id="formulario">
        <div class="two-fields">
          <div class="input-w-icon">
            <input type="text" id="nombre" name="nombre" class="input-text" placeholder="Nombre">
            <i class="fas fa-user"></i>
          </div>
          
          <div class="input-w-icon">
            <input type="email" id="email" name="email" class="input-email" placeholder="Email">
            <i class="fas fa-envelope"></i>
          </div>
        </div>

        <div class="fields">
          <div class="input-w-icon textareaIcon">
            <textarea name="comentarios" id="comentarios" class="textarea" placeholder="Ingrese su mensaje"></textarea>
            <i class="fas fa-comments"></i>
          </div>
        </div>

        <div class="fields-btn">
          <input type="submit" class="btn btn-input" value="Enviar">
        </div>
      </form>

    </section>
    
    <div class="alertas">
      <div id="alertError" class="alert hide">
        <span class="icono-alert fas fa-exclamation-circle"></span>
        <span class="msg">Error: Campos de entrada vacios</span>
      </div>

      <div id="alertSuccess" class="alert hide">
        <span class="icono-alert fas fa-check-circle"></span>
        <span class="msg">Datos enviados</span>
      </div>

    </div>

    <footer>
      <div class="sociales-metodo">
        <i class="fas fa-map-marker-alt"></i>
        <span>Lorem ipsum dolor sit amet consectetur labore, temporibus </span>
      </div>

      <div class="sociales-metodo">
        <i class="fas fa-envelope"></i>
        <span>info@worldpizza.com</span>
      </div>

      <div class="sociales-metodo">
        <i class="fas fa-phone"></i>
        <span>+1234567</span>
      </div>

      <div class="sociales-metodo">
        <i class="fab fa-twitter"></i>
        <span>@worldpizza</span>
      </div>

    </footer>

    <script src="../js/index.js"></script>
  </body>
</html>
